Testing/WebCrap/Service References/PolicyIntegration/Pursuit.PolicyIntegration.DataClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Pursuit.PolicyIntegration.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pursuit.PolicyIntegration.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage" />
      <xs:element minOccurs="0" name="PolicyID" type="ser:guid" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Premium" type="xs:decimal" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankingDetails" nillable="true" type="tns:BankingDetails" />
      <xs:element minOccurs="0" name="Broker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientDetails" nillable="true" type="tns:ClientDetails" />
      <xs:element minOccurs="0" name="CommunicationTemplateTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Policy" nillable="true" type="tns:Policy" />
      <xs:element minOccurs="0" name="UMCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="BankingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountHolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" type="xs:int" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectionDay" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankingDetails" nillable="true" type="tns:BankingDetails" />
  <xs:complexType name="ClientDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressDetails" nillable="true" type="tns:AddressDetails" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="CellNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommunicationMethod" type="tns:CommunicationMethod" />
      <xs:element minOccurs="0" name="CompanyEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyTelNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDetails" nillable="true" type="tns:ClientDetails" />
  <xs:complexType name="AddressDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhysicalAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalSuburb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDetails" nillable="true" type="tns:AddressDetails" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:simpleType name="CommunicationMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mobile" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="EmailWithAttachments" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommunicationMethod" nillable="true" type="tns:CommunicationMethod" />
  <xs:complexType name="Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="InceptionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentFrequency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskDetails" nillable="true" type="tns:ArrayOfRiskDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy" nillable="true" type="tns:Policy" />
  <xs:complexType name="ArrayOfRiskDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RiskDetail" nillable="true" type="tns:RiskDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRiskDetail" nillable="true" type="tns:ArrayOfRiskDetail" />
  <xs:complexType name="RiskDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Factors" nillable="true" type="tns:ArrayOfFactor" />
      <xs:element minOccurs="0" name="Premium" type="xs:decimal" />
      <xs:element minOccurs="0" name="SumInsured" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RiskDetail" nillable="true" type="tns:RiskDetail" />
  <xs:complexType name="ArrayOfFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Factor" nillable="true" type="tns:Factor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactor" nillable="true" type="tns:ArrayOfFactor" />
  <xs:complexType name="Factor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Factor" nillable="true" type="tns:Factor" />
  <xs:complexType name="BankNames">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banks" nillable="true" type="tns:ArrayOfBank" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankNames" nillable="true" type="tns:BankNames" />
  <xs:complexType name="ArrayOfBank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bank" nillable="true" type="tns:Bank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBank" nillable="true" type="tns:ArrayOfBank" />
  <xs:complexType name="Bank">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bank" nillable="true" type="tns:Bank" />
  <xs:complexType name="BranchNames">
    <xs:sequence>
      <xs:element minOccurs="0" name="Branches" nillable="true" type="tns:ArrayOfBranch" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchNames" nillable="true" type="tns:BranchNames" />
  <xs:complexType name="ArrayOfBranch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Branch" nillable="true" type="tns:Branch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranch" nillable="true" type="tns:ArrayOfBranch" />
  <xs:complexType name="Branch">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Branch" nillable="true" type="tns:Branch" />
  <xs:complexType name="BankAccountTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTypes" nillable="true" type="tns:ArrayOfBankAccountType" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountTypes" nillable="true" type="tns:BankAccountTypes" />
  <xs:complexType name="ArrayOfBankAccountType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccountType" nillable="true" type="tns:BankAccountType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccountType" nillable="true" type="tns:ArrayOfBankAccountType" />
  <xs:complexType name="BankAccountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCode" type="xs:int" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountType" nillable="true" type="tns:BankAccountType" />
</xs:schema>