Testing/WebCrap/Service References/PolicyIntegration/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolicyIntegration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPolicyIntegration_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Pursuit.PolicyIntegration.DataClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPolicyIntegration_IDCheckAjax_InputMessage">
    <wsdl:part name="parameters" element="tns:IDCheckAjax" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_IDCheckAjax_OutputMessage">
    <wsdl:part name="parameters" element="tns:IDCheckAjaxResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_IDCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:IDCheck" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_IDCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:IDCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_GeneratePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_GeneratePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_RetrieveBanks_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBanks" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_RetrieveBanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBanksResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_RetrieveBranches_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBranches" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_RetrieveBranches_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_RetrieveBankAccountTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBankAccountTypes" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_RetrieveBankAccountTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBankAccountTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_GeneratePolicySchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePolicySchedule" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_GeneratePolicySchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePolicyScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_CDVCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:CDVCheck" />
  </wsdl:message>
  <wsdl:message name="IPolicyIntegration_CDVCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:CDVCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="IPolicyIntegration">
    <wsdl:operation name="IDCheckAjax">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyIntegration/IDCheckAjax" message="tns:IPolicyIntegration_IDCheckAjax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyIntegration/IDCheckAjaxResponse" message="tns:IPolicyIntegration_IDCheckAjax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IDCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyIntegration/IDCheck" message="tns:IPolicyIntegration_IDCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyIntegration/IDCheckResponse" message="tns:IPolicyIntegration_IDCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyIntegration/GeneratePolicy" message="tns:IPolicyIntegration_GeneratePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyIntegration/GeneratePolicyResponse" message="tns:IPolicyIntegration_GeneratePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBanks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyIntegration/RetrieveBanks" message="tns:IPolicyIntegration_RetrieveBanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyIntegration/RetrieveBanksResponse" message="tns:IPolicyIntegration_RetrieveBanks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBranches">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyIntegration/RetrieveBranches" message="tns:IPolicyIntegration_RetrieveBranches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyIntegration/RetrieveBranchesResponse" message="tns:IPolicyIntegration_RetrieveBranches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBankAccountTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyIntegration/RetrieveBankAccountTypes" message="tns:IPolicyIntegration_RetrieveBankAccountTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyIntegration/RetrieveBankAccountTypesResponse" message="tns:IPolicyIntegration_RetrieveBankAccountTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePolicySchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyIntegration/GeneratePolicySchedule" message="tns:IPolicyIntegration_GeneratePolicySchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyIntegration/GeneratePolicyScheduleResponse" message="tns:IPolicyIntegration_GeneratePolicySchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CDVCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyIntegration/CDVCheck" message="tns:IPolicyIntegration_CDVCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyIntegration/CDVCheckResponse" message="tns:IPolicyIntegration_CDVCheck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IPolicyIntegration" type="tns:IPolicyIntegration">
    <wsp:PolicyReference URI="#WSHttpBinding_IPolicyIntegration_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IDCheckAjax">
      <soap12:operation soapAction="http://tempuri.org/IPolicyIntegration/IDCheckAjax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDCheck">
      <soap12:operation soapAction="http://tempuri.org/IPolicyIntegration/IDCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePolicy">
      <soap12:operation soapAction="http://tempuri.org/IPolicyIntegration/GeneratePolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBanks">
      <soap12:operation soapAction="http://tempuri.org/IPolicyIntegration/RetrieveBanks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBranches">
      <soap12:operation soapAction="http://tempuri.org/IPolicyIntegration/RetrieveBranches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBankAccountTypes">
      <soap12:operation soapAction="http://tempuri.org/IPolicyIntegration/RetrieveBankAccountTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePolicySchedule">
      <soap12:operation soapAction="http://tempuri.org/IPolicyIntegration/GeneratePolicySchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CDVCheck">
      <soap12:operation soapAction="http://tempuri.org/IPolicyIntegration/CDVCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyIntegration">
    <wsdl:port name="WSHttpBinding_IPolicyIntegration" binding="tns:WSHttpBinding_IPolicyIntegration">
      <soap12:address location="https://pursuit/PolicyIntegration/PolicyIntegration.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://pursuit/PolicyIntegration/PolicyIntegration.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>